.header {
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 500px;
    background: #ffffff;

    .header-left {
        display: flex;
        align-items: center;
    }

    .header-right {
        display: flex;
        align-items: center;
    }

    .header-center {
        cursor: pointer;
    }

    ul {
        display: flex;
        li {
            list-style: none;
            a {
                display: block;
                color: black;
                font-size: 23px;
                padding: 10px;
                transition: 0.2s;
                text-decoration: none;
            }
        }
    }
}
