$black: #000;
$white: #fff;

$light-gray: #e5e5e5;
$gray-base: #8c98a3 !default;
$primary-base: #3185d2 !default;

$light-blue: #4bb1e0;
$green: #14ad6d;
$yellow: #ffbb0b;
$red: #dc3545;
$orange: #edbb3b;
